body {
    color: #000000;

}

.titulo{

    height: auto;
    margin-right: auto;
    
}

.navbar{
    text-align: right;
}

.banner{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
